.team_card{
    display: flex;
    align-items: center;
    gap: 20px;
}

.teamdata_main h1{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.teamdata_main p{
    font-size: clamp(0.8rem,1.5vw,1.2rem);
    font-weight: 500;
    margin-bottom: 20px;

}

.teamcards{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.team_card div:nth-child(1){
    padding-top: 30px;
    width: 20%;
    text-align: center;
}

.team_card img{
    height: 100px;
    width: 95px;
    border-radius: 10px;
}

.team_card p{
    font-size: clamp(0.75rem,1.5vw,1rem);
    font-weight: 400;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px){
    .team_card{
        flex-direction: column;
    }

    .teamcards{
        margin-left: 0;
    }

    .team_card div:nth-child(1){
        width: 100%;
        text-align: center;
    }
    
}