.main{
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
    width: 93%;
    margin: auto;
}

.innermain{
    display: flex;
    flex-direction: row;
    padding-top: 2rem;
    width: 100%;
}

.left{
    width: 70%;
    padding-inline: 10px;
}

.right{
    width: 30%;
    padding-inline: 10px;
}

.swipers{
    margin-top: 10rem;
}

@media screen and (max-width: 768px){
    .main{
        width: 90%;
    }
    .innermain{
        flex-direction: column;
    }
    .left{
        width: 100%;
    }
    .right{
        width: 100%;
    }
    .swipers{
        margin-top: 5rem;
    }


    
}