.main{
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
    width: 93%;
    margin: auto;
}

.innermain{
    display: flex;
    flex-direction: row;
    padding-top: 2rem;
    width: 100%;
}

.left{
    width: 70%;
    padding-inline: 10px;
}

.right{
    width: 30%;
    padding-inline: 10px;
}